<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>画图</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable-style" content="blank" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <link rel="stylesheet" type="text/css" href="/css/app/index.css" />
    <script type="text/javascript">
        (function (a, f) { var g = a.documentElement; var d = 750; var c = "orientationchange" in f ? "orientationchange" : "resize"; var e = navigator.userAgent.toLowerCase().match(/iphone|ipad|ipod/i); var b = function () { var h = g.clientWidth; if (!h) { return } if (h >= d) { h = d } g.style.fontSize = 100 * (h / d) + "px" }; b(); if (e) { g.classList.add("iosx" + f.devicePixelRatio) } if (a.addEventListener) { f.addEventListener(c, b, false) } })(document, window);
    </script>
</head>

<body>
    <div class="page" id="app">
        <div class="wrapper">
            <canvas id="canvas" width="320" height="320" style="border:solid black 1px;">
                You really badly need to use a different browser.
            </canvas>
            <br> Log:
            <pre id="log" style="border: 1px solid #ccc;"></pre>
        </div>
    </div>
    <script type="text/javascript">
        function startup() {
            var el = document.getElementsByTagName("canvas")[0];
            el.addEventListener("touchstart", handleStart, false);
            el.addEventListener("touchend", handleEnd, false);
            el.addEventListener("touchcancel", handleCancel, false);
            el.addEventListener("touchmove", handleMove, false);
            log("initialized.");
        }
        startup();
        var ongoingTouches = [];
        function handleStart(evt) {
            evt.preventDefault();
            log("touchstart.");
            var el = document.getElementsByTagName("canvas")[0];
            var ctx = el.getContext("2d");
            var touches = evt.changedTouches;

            for (var i = 0; i < touches.length; i++) {
                log("touchstart:" + i + "...");
                ongoingTouches.push(copyTouch(touches[i]));
                var color = colorForTouch(touches[i]);
                ctx.beginPath();
                ctx.arc(touches[i].pageX, touches[i].pageY, 4, 0, 2 * Math.PI, false);  // a circle at the start
                ctx.fillStyle = color;
                ctx.fill();
                log("touchstart:" + i + ".");
            }
        } function handleMove(evt) {
            evt.preventDefault();
            var el = document.getElementsByTagName("canvas")[0];
            var ctx = el.getContext("2d");
            var touches = evt.changedTouches;

            for (var i = 0; i < touches.length; i++) {
                var color = colorForTouch(touches[i]);
                var idx = ongoingTouchIndexById(touches[i].identifier);

                if (idx >= 0) {
                    log("continuing touch " + idx);
                    ctx.beginPath();
                    log("ctx.moveTo(" + ongoingTouches[idx].pageX + ", " + ongoingTouches[idx].pageY + ");");
                    ctx.moveTo(ongoingTouches[idx].pageX, ongoingTouches[idx].pageY);
                    log("ctx.lineTo(" + touches[i].pageX + ", " + touches[i].pageY + ");");
                    ctx.lineTo(touches[i].pageX, touches[i].pageY);
                    ctx.lineWidth = 4;
                    ctx.strokeStyle = color;
                    ctx.stroke();

                    ongoingTouches.splice(idx, 1, copyTouch(touches[i]));  // swap in the new touch record
                    log(".");
                } else {
                    log("can't figure out which touch to continue");
                }
            }
        } function handleEnd(evt) {
            evt.preventDefault();
            log("touchend");
            var el = document.getElementsByTagName("canvas")[0];
            var ctx = el.getContext("2d");
            var touches = evt.changedTouches;

            for (var i = 0; i < touches.length; i++) {
                var color = colorForTouch(touches[i]);
                var idx = ongoingTouchIndexById(touches[i].identifier);

                if (idx >= 0) {
                    ctx.lineWidth = 4;
                    ctx.fillStyle = color;
                    ctx.beginPath();
                    ctx.moveTo(ongoingTouches[idx].pageX, ongoingTouches[idx].pageY);
                    ctx.lineTo(touches[i].pageX, touches[i].pageY);
                    ctx.fillRect(touches[i].pageX - 4, touches[i].pageY - 4, 8, 8);  // and a square at the end
                    ongoingTouches.splice(idx, 1);  // remove it; we're done
                } else {
                    log("can't figure out which touch to end");
                }
            }
        } function handleCancel(evt) {
            evt.preventDefault();
            log("touchcancel.");
            var touches = evt.changedTouches;

            for (var i = 0; i < touches.length; i++) {
                var idx = ongoingTouchIndexById(touches[i].identifier);
                ongoingTouches.splice(idx, 1);  // remove it; we're done
            }
        } function colorForTouch(touch) {
            var r = touch.identifier % 16;
            var g = Math.floor(touch.identifier / 3) % 16;
            var b = Math.floor(touch.identifier / 7) % 16;
            r = r.toString(16); // make it a hex digit
            g = g.toString(16); // make it a hex digit
            b = b.toString(16); // make it a hex digit
            var color = "#" + r + g + b;
            log("color for touch with identifier " + touch.identifier + " = " + color);
            return color;
        } function copyTouch(touch) {
            return { identifier: touch.identifier, pageX: touch.pageX, pageY: touch.pageY };
        } function ongoingTouchIndexById(idToFind) {
            for (var i = 0; i < ongoingTouches.length; i++) {
                var id = ongoingTouches[i].identifier;

                if (id == idToFind) {
                    return i;
                }
            }
            return -1;    // not found
        } function log(msg) {
            var p = document.getElementById('log');
            p.innerHTML = msg + "\n" + p.innerHTML;
        }
    </script>
    <!-- <script src="/js/common/base.js"></script> -->
    <!-- <script>
        var $app = new Stan('#app');
        $app.on('click', function () {
            console.log('hi');
        });
        $app.addClass('app').removeClass('page');
        console.log($app.text());
        stan.cookie.set('_cookie_app', 'vueJS + require', 2);
        console.log(stan.cookie.get('_cookie_app'));
        $app.transform("translate(0,50px)");
        stan.store.set('_store_app', { list: [1, 2, 3, 4, 5, 6] });
        console.log(stan.array.remove(stan.store.get('_store_app').list, 3));
        // stan.http({
        //     type:'get',
        //     url: 'http://211.149.193.19:8080/api/customers',
        //     success: function (res) {
        //         console.log(res);
        //     }
        // });
    </script> -->
</body>

</html>