<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>reader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable-style" content="blank" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <link rel="stylesheet" type="text/css" href="/css/app/reader.css" />
    <script type="text/javascript">
        (function (a, f) { var g = a.documentElement; var d = 750; var c = "orientationchange" in f ? "orientationchange" : "resize"; var e = navigator.userAgent.toLowerCase().match(/iphone|ipad|ipod/i); var b = function () { var h = g.clientWidth; if (!h) { return } if (h >= d) { h = d } g.style.fontSize = 100 * (h / d) + "px" }; b(); if (e) { g.classList.add("iosx" + f.devicePixelRatio) } if (a.addEventListener) { f.addEventListener(c, b, false) } })(document, window);
    </script>
</head>

<body>
    <div class="page" id="app">
        <!-- <div class="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item carousel-item-1 active">1</div>
                    <div class="carousel-item carousel-item-2">2</div>
                    <div class="carousel-item carousel-item-3">3</div>
                </div>
            </div> -->
        <div class="section read-section" data-chapter-id="92524858">
            <p>　　大季王朝逸国公府</p>
            <p>　　楚离驾舟行于湖上，轻风拂面，清爽沁人。</p>
            <p>　　逸国公府是一片万顷巨湖，九十九座岛，他要去的演武殿与东花园距离十八里。</p>
            <p>　　小船之上，他中等身材，一袭青衫飘飘，相貌平常却颇有英武之气，看着茫茫湖水，思绪飘远。</p>
            <p>　　十九年两个月零三天，已经十九年两个月零三天！</p>
            <p>　　堂堂高能物理研究员，前途光明的学霸，未来的大科学家，实验中一个小小失误，爆炸后来到这个世界，转世投胎重新做人！</p>
            <p>　　“砰！砰！”闷响声打破了他的沉思，扭头看，一条金光闪闪的鲤鱼在船上跳动不停。</p>
            <p>　　楚离摇摇头，弯腰把鲤鱼抛回湖里。</p>
            <p>　　直起身，一座高楼映入他眼帘。</p>
            <p>　　百米高楼，闪烁青铜光芒，厚重森严，尽显国公府的威仪。</p>
            <p>　　这座青铜高楼就是演武殿！</p>
            <p>　　演武殿前是一片开阔的练武场，红泥铺地，数百人在练功，或练刀练剑练拳练掌，或互相切磋，热闹非凡。</p>
            <p>　　楚离靠船上岸，踏上练武场，没走几步，忽然闪出一个英俊青年，面如冠玉，眉毛如剑，神采飞扬。</p>
            <p>　　他身形颀长，高楚离一个头，抱肩俯视他：“姓楚的，你来这儿干什么？！”</p>
            <p>　　楚离皱眉：“让开，好狗不挡道！”</p>
            <p>　　“呵呵！英俊青年呵呵笑道：“难不成你想练武？”</p>
            <p>　　楚离忽然笑了笑，继续往前走：“卓飞扬，我倒地惨叫，信不信你要吃不了兜着走？”</p>
            <p>　　府卫禁止私斗，不准自相残杀，府卫分护卫与侍卫，一武一文，两者尤其严禁私斗，轻则降品，重则逐出府。</p>
            <p>　　楚离是未入品的侍卫，卓飞扬则是八品护卫，护卫对侍卫动手是大忌，他倒地惨叫，卓飞扬再天才也要受重罚。</p>
            <p>　　卓飞扬剑眉一皱：“姓楚的，行，够无耻！”</p>
            <p>　　楚离继续往前走。</p>
            <p>　　卓飞扬侧身让开一步，阴沉着俊脸：“姓楚的，你只能用这些小手段！”</p>
            <p>　　楚离笑道：“对付你般这蠢货，小手段就足够！”</p>
            <p>　　卓飞扬死死瞪着他，拳头攥得越来越紧，好似下一刻就挥出，楚离却懒洋洋看他，挑衅味道十足。</p>
            <p>　　卓飞扬忽然露出灿烂笑容，用力扬手：“赵师妹！”</p>
            <p>　　远处一个婀娜多姿的美貌少女袅袅走来，她肌肤赛雪，杏眼柳眉，气质楚楚，温柔如水。</p>
            <p>　　楚离脸色微变，赵颖，跟他们同时进府，美貌、善良、温柔，是那种男人见了都会喜欢的女人。</p>
            <p>　　“卓师兄？”赵颖轻盈的走过来，讶然道：“楚师兄？”</p>
            <p>　　楚离嗅着她带来的淡淡幽香，微笑：“赵师妹，好久不见。”</p>
            <p>　　他自从分配进东花园，多数时间都去藏书楼，想用知识改变命运，罕来演武殿。</p>
            <p>　　这次来演武殿，是修炼小洗脉诀遇到问题，想看一下小洗脉诀有关的秘笈及修炼笔记。</p>
            <p>　　赵颖笑道：“楚师兄，恭喜，东花园是个美差呢。”</p>
            <p>　　楚离笑着点头：“还算不错。”</p>
            <p>　　东花园直属于三小姐萧琪的玉琪岛，仅他与李越俩侍卫，不仅悠闲自在，还有机会见到三小姐，一旦获三小姐青眼，飞黄腾达指日可待。</p>
            <p>　　卓飞扬深吸一口气，这家伙运气忒好，偏偏竟进了东花园，老天太不开眼，自己非好好收拾他！</p>
            <p>　　“赵师妹，甭理这废物，我昨天刚练成破妄剑法，切磋一下呗？”</p>
            <p>　　“卓师兄——！”赵颖蹙眉，觉得卓飞扬说话难听。</p>
            <p>　　“好好，不说他废物就是！”卓飞扬忙赔笑，扫一眼楚离：“尽管他就是个废物！”</p>
            <p>　　“还说！”赵颖不满的瞪大眼。</p>
            <p>　　“赵师妹，没关系，”楚离微笑道：“对这种狂妄自大的蠢货，没必要计较。”</p>
            <p>　　“楚师兄！”赵颖嗔道。</p>
            <p>　　楚离伸手做投降状：“赵师妹，来东花园玩吧，风景很美，李兄的厨艺也极好。”</p>
            <p>　　“好啊。”赵颖笑眯眯的道：“一直想去看看呢，东花园啊……”</p>
            <p>　　“哼，有什么可看的！”卓飞扬撇撇嘴：“不过花花草草而已，有那时间还不如练武，玩物丧志！”</p>
            <p>　　“照你这么说，三小姐与大公子都是玩物丧志，不如你喽？”楚离似笑非笑，西花园属于大公子萧铁鹰。</p>
            <p>　　卓飞扬俊脸涨红，冷笑连连，决定不跟他斗嘴。</p>
            <p>　　“卓师兄！楚师兄！”赵颖不满的嗔道：“你们消停一会儿好不好！……楚师兄，我会过去玩的，你有事就先忙吧。”</p>
            <p>　　楚离深深看她一眼：“赵师妹，有人空长得一副好皮囊，日久才能见人心，师妹不要轻易相信别人！”</p>
            <p>　　“姓楚的，你什么意思！？”卓飞扬哼道。</p>
            <p>　　楚离不理他，冲赵颖笑着抱抱拳。</p>
            <p>　　赵颖转身离开。</p>
            <p>　　卓飞扬忙要跟上，临走之际，趁着赵颖不注意，忽然一伸手。</p>
            <p>　　他巴掌几乎要扇到楚离脸上，非常自信楚离来不及避开，看似不注意，却是运了内力，速度奇快。</p>
            <p>　　楚离轻轻一侧头，卓飞扬的指尖贴着脸颊掠过，能感觉到微风，这一掌的力量不轻。</p>
            <p>　　“啪！”清脆响亮的耳光声响起。</p>
            <p>　　楚离左掌拍在自己脸上，清脆响亮，用力不大，声音很响，然后迅速收手。</p>
            <p>　　赵颖忙扭头看。</p>
            <p>　　楚离神色不变，好像这一掌不是打在自己脸上。</p>
            <p>　　卓飞扬脸色阴沉的瞪着他。</p>
            <p>　　楚离笑了笑，摸摸自己的脸庞：“真是好功夫，佩服！”</p>
            <p>　　卓飞扬死死瞪着他。</p>
            <p>　　“卓师兄——！”赵颖沉下玉脸。</p>
            <p>　　“对不住对不住，我真不是有意的。”卓飞扬咬着牙，声音齿缝里挤出来，冷冷道：“想必楚师弟不会在意，是吧，楚师弟？”</p>
            <p>　　楚离扭头笑道：“赵师妹，算了。”</p>
            <p>　　赵颖不好意思的看看他，忙扯着卓飞扬离开，再呆下去，两人非打起来不可！</p>
            <p>　　楚离盯着赵颖婀娜的背影一动不动，摸了摸火辣辣的左脸，启动大圆镜智压住心绪波动。</p>
            <p>　　如果不是大圆镜智，免不了遭卓飞扬暗算！</p>
            <p>　　这个世界以武为尊，从小深植内心的观念，赵颖温柔善良，明着暗着护着自己，让他颇为感动。</p>
            <p>　　但他身为一个男人，需要女人护着，实在不能忍！</p>
            <p>　　卓飞扬，破妄剑法……</p>
            <p>　　他穿过练武场上的人群，进入演武殿。</p>
            <p>　　解下腰际的木牌，递给殿前的青年，青年目光如电，扫一眼，示意他可以进去。</p>
            <p>　　入眼是一排排书架，他信步而行，偶然停住，伸手抽出一本书，迅速的翻一遍，放回去继续走，再停住，又抽一本书翻一遍。</p>
            <p>　　一个时辰，他翻了二十二本书。</p>
            <p>　　好像他早就知道这些书的位置，直接过去抽出来就好，其实他是第一次过来，小洗脉诀是在藏书楼看的。</p>
            <p>　　整个演武殿皆呈现在他脑海，每一排书架，每一本书的名字，清清楚楚，历历在目。</p>
            <p>　　他信步来到二楼，直接来到第三排书架，在第二层抽出破妄剑谱，翻过一遍，然后又抽出七本秘笈，是破妄剑谱的修炼心得。</p>
            <p>　　他离开演武殿时，脑海已经烙印了三十本秘笈，二十二本小洗脉诀修炼笔记，一本破妄剑谱，七本破妄剑修炼心得。</p>
            <p>　　他驾着小船行于湖上，清风徐来，原本的熊熊怒火已经消散。</p>
            <p>　　脑海里三十本秘笈开始融会贯通。</p>
            <p>　　——</p>
            <p>　　正午的阳光灼灼，他驾船回了东花园。</p>
            <p>　　东花园是一座方圆两里的小岛，划分为一个个花圃，每圃一种珍奇之花，整座小岛飘浮着花香。</p>
            <p>　　岛上只有一座小院，楚离推门进院，阴凉气息扑面而来，一棵大树遮住半边院子，驱去热气。</p>
            <p>　　他进西厢房，提一把青锋剑出来，在院中央挥舞，缓慢如太极剑，片刻便出了一层汗，额头泛亮。</p>
            <p>　　他过目不忘，看过的秘笈一遍即烙印脑海，刚从演武殿学来的破妄剑法果然威力惊人，但也极耗力气。</p>
            <p>　　“吱呀……”正厅走出一壮硕青年，圆饼大脸，小眼睛。</p>
            <p>　　他黑熊般摇摇晃晃，长伸两懒腰，连打俩呵欠，才懒洋洋的说话：“兄弟，这么早就回来了？”</p>
            <p>　　楚离专注练剑，只“嗯”了一声。</p>
            <p>　　李越，九品侍卫，两人一起负责东花园，好口腹之欲，厨艺极好，武功好，却怕死不闯九品楼，甘当侍卫。</p>
            <p>　　国公府侍卫与护卫都分九品，工钱差十倍。</p>
            <p>　　侍卫工钱少，品级要熬资历，三年九品，十年八品，二十年七品，四十年六品，七十年五品。</p>
            <p>　　护卫升品不论其他只看武功，闯九品楼，闯过一层升一品。</p>
            <p>　　工钱多，还能经常出府做任务，活得多彩多姿，不像侍卫只能呆府里伺候人，但凡有点儿能力的，都当护卫。</p>
            <p>　　李越摇摇脖子，伸伸腿，骨节发出一串串噼啪响，随后挥拳开练，拳如流星，呼呼生风。</p>
            <p>　　“兄弟，别练剑，跟我练拳吧！”李越的嘴闲不住。</p>
            <p>　　楚离没出声。</p>
            <p>　　“不能练内功，练套拳法强身健体就得啦，练什么剑！”</p>
            <p>　　“闭嘴！”楚离吐出两个字，额头一层黄豆汗。</p>
            <p>　　这个世界武学昌盛，练武从娃娃抓起。</p>
            <p>　　八岁到十八岁，趁着发育期，练筑基心法，把经脉练得强壮坚韧，否则承受不了内力冲击，有性命之危。</p>
            <p>　　过了八岁到十八岁，一旦经脉定型，再神奇的心法也事倍功半，要花上数倍时间筑基。</p>
            <p>　　十八岁前，他在从小长大的秋叶寺苦参大智度本源经，错过筑基。</p>
            <p>　　精魄是常人两倍，精神强横。</p>
            <p>　　加之他前世是高能物理研究员，对世界的认识远非常人可比。</p>
            <p>　　两者相合，他才最终练成大智度本源经，成就大圆镜智神通。</p>
            <p>　　精神强横，他修炼持续时间远胜常人，神通在身，观照入微，故他小洗脉诀进度很快，五年即可筑基。</p>
            <p>　　“呵呵……，就你那剑，鸡也杀不死，你还练个什么劲儿？”</p>
            <p>　　楚离忽然收剑，哼道：“比比？”</p>
            <p>　　他气喘吁吁，浑身软绵绵的，把剑往地上一拄，才撑住身子，破妄剑法太耗体力。</p>
        </div>
    </div>
    <script src="/js/common/base.js"></script>
    <script src="/js/app/reader.js"></script>
</body>

</html>